<nav class="navbar">
    <a href="/" class="logo">.UpDev</a>

    <ul class="nav-links">
        <li><a href="/blogs" class="centered-button">Blogs</a></li>
        <li><a href="/basededatos" class="centered-button">Base de Datos</a></li>
        <li><a href="/donaciones" class="centered-button">Donaciones</a></li>
    </ul>

    <div class="nav-buttons">
        <% if (!user) { %> <!-- Si no hay un usuario logueado, muestra los botones -->
            <a href="/login" class="btn">Login</a>
            <a href="/sign-up" class="btn primary">sign-Up</a>
            <% } else { %> <!-- Si el usuario está logueado, no mostrar los botones -->
                <div class="basededatos-logout">
                    <a href="/logout" class="basededatos-logout">Cerrar Sesión</a>
                </div>
                <% } %>
    </div>
</nav>